* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #111;
  background-image: url('https://yt3.googleusercontent.com/PT3toglXvtGUWqdixgErunwaCvRT_DA01QDPCTJmUGH7fRH4EYiExx0qmEbmGxZJSqY8K7Iw=s900-c-k-c0x00ffffff-no-rj');
  background-repeat: repeat;
  background-position: top center;
  background-size: 34% auto;
}


.container {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 50px;
  border-radius: 70px;
  width: 40%;
  max-width: 600px;
  min-height: 400px;
  margin: 60px auto 20px auto; /* <-- AQUI: margem superior aumentada */
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #fff;
}

.inputs-row {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
}

select,
input,
textarea {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 8px;
  margin-bottom: 15px;
  font-size: 16px;
}

select,
input {
  background-color: #fff;
  color: #000;
}

textarea {
  resize: none;
  height: 150px;
}

button {
  width: 100%;
  padding: 15px;
  background-color: #00c853;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #00e676;
}



#teams {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.team {
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  flex: 1 1 200px;
  min-width: 150px;
}

.team h3 {
  margin-bottom: 10px;
  color: #00e676;
}

.team ul {
  list-style: none;
  padding-left: 0;
}

footer {
  background-color: #212121;
  text-align: center;
  color: #ccc;
  margin-top: 40px;
  font-size: 14px;
  opacity: 0.8;
  
}

footer a {
  color: #00e676;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

.logo {
  width: 30px;
  height: 25px;
}

@media (max-width: 768px) {
  .container {
    width: 90%;
    padding: 30px;
    border-radius: 30px;
  }

  h1 {
    font-size: 22px;
  }

  button {
    font-size: 16px;
    padding: 12px;
  }
}